/* assets/styles/app.css */

:root {
  --couleur-principale: #004085;
  --couleur-secondaire: #fd7e14;
  --couleur-arriere-plan: #f0f4f8;
  --couleur-arriere-plan-w: #ffffff;
  --couleur-texte: #1f2225;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  background-color: var(--couleur-arriere-plan);
  color: var(--couleur-texte);
}
a {
  text-decoration: none;
  color: var(--couleur-texte);
}
a:hover,
a:active,
a:focus {
  filter: opacity(0.9);
}
ul {
  list-style: none;
}
h1 {
    margin: 1rem;
  font-size: 2.5rem;
}
span {
  text-transform: capitalize;
  font-weight: bold;
  color: var(--couleur-secondaire);
}
h2 {
  margin-top: 0.5rem;
}

.container{
     max-width:700px ;
}

.header {
    background-color: whitesmoke;    
}
.header h1{
    background-color: whitesmoke;    
}
.log {
  text-align: center;
}
.log p:first-child {
  color: var(--couleur-principale);
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.25rem;
}
.log a {
  font-size: 0.9rem;
  color: var(--couleur-texte);
  text-align: center;
}
.btn-primary {  
  background-color: var(--couleur-principale);
  color: var(--couleur-arriere-plan);
}
.btn-primary:hover {
  background-color: var(--couleur-secondaire);
}
.btn-primary:active {
  background-color: var(--couleur-secondaire);
}
.btn {
    margin: 0 0.25em;
  font-weight: 600;
  cursor: pointer;
  border: none; 
  box-shadow: 1px 1px 3px black;
  transition: background-color 0.3s ease;
}
.btn:active {
  box-shadow: 0px 0px 0px;
}